__pycache__/
*.py[cod]
*.log
.DS_Store

.git/
.gitignore

.venv/
venv/
.python-version

.pytest_cache/
.mypy_cache/
.ruff_cache/
htmlcov/
.coverage
.coverage.*

.env
.env.*

tests/
examples/
README.md
requirements-test.txt
requirements-dev.txt
pyproject.toml
.tool-versions
.python-version

output/
